---
layout: default
---
{% include buttons-center.html %}
<div class="home center-text">
  <h1>Not A Problem. (yet)</h1>
  <h1 class="page-heading">We're still building support and we're glad you're here!</h1>
  <h1 class="page-heading">Checkout the <a href="{{ site.url }}/blog/">Blog</a> for some motiviation.</h1>
  <h1 class="page-heading">Choose a time that works better for you!</h1>
<hr />
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.checkin | date: "%B %-d"}} {{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
