---
layout: default
---
{% include buttons-center.html %}
<div class="home center-text">
  <h1>Not A Problem.</h1>
  <h1 class="page-heading center-text">Keep checking in, guaranteed hourly minimums won't last forever</h1>
  <h1 class="page-heading">You can still participate at another time:</h1>

<hr />
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.checkin | date: "%B %-d"}} {{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
