---
layout: default
---

<div class="home center-text">

  <h1>YOU ROCK!!!</h1>
  <h1 class="page-heading">Just click on a Surgenado...</h1>
  <h1 class="page-heading">and follow instructions!</h1>

{% include buttons-center.html %}

  <hr />

  <ul class="post-list">

    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.checkin | date: "%B %-d"}} {{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
